@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #E4E4E7;
  background: #09090B;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .desktop-only { display: none !important; }
}

@media (min-width: 768px) {
  .mobile-only { display: none !important; }
}
